body {
    background-color: rgb(20, 40, 60);
    color: rgb(240, 248, 255);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.4em;
}

strong {
    color: yellow;
}

form {
    display: grid;
    grid-gap: 2px;
    width: 80%;
    align-items: center;
    font-size: 0.8em;
}

a {
    color: rgb(255, 111, 111);
}

input[type=number] {
    border-radius: 4px;
    width: 75px;
    height: 20px;
    margin-bottom: 10px;
}

input[type=number]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    color: rgb(20, 40, 60);
    cursor: pointer;
    padding: 8px 20px;
    width: 15%;
    height: 50px;

    &:hover {
        background-color: rgb(255, 111, 111);
        border-color: #fff;
        transition: all .1s ease-in-out;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}